main {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-gap: 0.0rem;
  align-items: center;
  justify-content: center;
}

app-square {
  aspect-ratio: 1 / 1;
  border: 0.08rem gray solid;
  border-radius: 25%;
  text-align: center;
}
