main {
  display: grid;
  gridgap: 0.35%;
  grid-template-columns: repeat(3, 50px);
  place-content: left;
  // place-items: center;
  position: relative;
}

app-square {
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 15%;
  border: 0.08rem gray solid;
  place-content: center;
  place-items: center;
  text-align: center;
}

app-square > button {
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 15%;
  border: 0.08rem gray solid;
  font-stretch: ex
  margin: auto;
  place-content: center;
  place-items: center;
  text-align: center;
}
