main {
  display: grid;
  gridgap: 0.35%;
  grid-template-columns: repeat(3, 50px);
  place-content: left;
  // place-items: center;
  position: relative;
}

app-square {
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 15%;
  border: 0.08rem gray solid;
  place-content: center;
  place-items: center;
  text-align: center;
}

button {
  color: darkviolet;
  font-size: clamp(1vw, 1rem + 5vw, 15vw);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
